<h1>Cocktails</h1>

<ul>
    <% @cocktails.each do |cocktail| %>
        <li><%=cocktail.name%>  <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%></li>
        <br>
    <% end %>
</ul>
