<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1><strong>Cocktail Party</strong></h1>
    <br />
    <%= link_to 'Create a new ðŸ¸', new_cocktail_path , class: "btn-blue" %>
  </div>
</div>


<% @cocktails.each do |cocktail| %>
  <div class="card-category m-2"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
    <%= link_to cocktail_path(cocktail) do %>
      <%=cocktail.name%>
    <% end %>
  </div>
<% end %>
