<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/16/15/8f/16158f24fc89086a9232df1f3d5eb8ef.jpg);">
  <div class="container">
    <h1><strong>Cocktail Party</strong></h1>
    <br />
    <%= link_to 'Create a new ðŸ¸', new_cocktail_path , class: "btn-blue" %>
  </div>
</div>


<% @cocktails.each do |cocktail| %>
  <div class="card-category m-2"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(https://www.bascofinefoods.com/spanish-recipes-wpfiles/wp-content/uploads/2015/04/espresso_martini_recipe-e1505647014593.jpg)">
    <%= link_to cocktail_path(cocktail) do %>
      <%=cocktail.name%>
    <% end %>
  </div>
<% end %>
