
<div class="container">
  <h1 class="text-center m-4">Create new cocktail</h1>

  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>

    <%= link_to 'Back', root_path, class: "btn btn-primary" %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>


</div>
